body, html {
  height: 100%;
  margin: 0;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
}

.music-note {
  position: absolute;
  width: 20px; /* Adjust based on your note image size */
  height: 20px;
  background-image: url('https://i.imgur.com/fThpcNc.png'); /* Music note image */
  background-size: cover;
  /* Initially visible for positioning, can be hidden and then revealed on click */
}
