body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevents scrolling if canvas is larger than the viewport */
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
